<configuration>
  <appSettings>
    <add key="LinodePersonalAccessToken" value="dbe7124d444eaa6e40a0287dd1f9088b70fff0b3c58e18c9cbb378edfda62992" />
	<add key="FullAccessDomains" value="home.tekprepper.com|*|*,admin.tekprepper.com|*|*,vpn.tekprepper.com|*|*,latublu.duckdns.org|*|*,palmharbor.duckdns.org|83-84|pbx" />
	<add key="DuckDNSToken" value="41ee64f7-f210-4a7f-acbb-db09a3d21b34"/>
	<add key="DuckDNSDomains" value="justsuperhuman"/>
  </appSettings>
</configuration>